/* common */
.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.fl {
  float: left;
  *display: inline;
  _display: inline;
}

.fr {
  float: right;
  *display: inline;
  _display: inline;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}

.clearfix {
  *zoom: 1;
}

@media screen and (max-width: 768px) {
  #qpp .project-item:nth-child(2) {
    margin: 0 20px !important;
  }
}
@media screen and (min-width: 992px) {
  .head_nav {
    display: block !important;
  }

  .menu_wrap {
    display: none !important;
  }

  .project-item:nth-child(2) {
    margin: 0 20px !important;
  }
}
@media screen and (min-width: 1200px) {
  .menu_wrap {
    display: none !important;
  }

  .header .head_nav {
    display: block !important;
  }

  .project-item:nth-child(2) {
    margin: 0 20px !important;
  }
}
@media screen and (min-width: 1400px) {
  .head_nav {
    display: block !important;
  }

  .menu_wrap {
    display: none !important;
  }

  .project-item:nth-child(2) {
    margin: 0 100px !important;
  }

  .line {
    display: inline-block !important;
  }

  .company .infor-second-titel {
    text-align: left !important;
  }

  .infor {
    width: 45% !important;
  }
}
.first-title {
  font-size: 22px;
  line-height: 50px;
  height: 50px;
  text-align: center;
}

.infor-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 50px 0;
  text-align: center;
  font-size: 0;
  background: #ffffff;
}
.infor-wrapper .infor {
  display: inline-block;
  width: 100%;
  font-size: 16px;
}
.infor-wrapper .infor .infor-second-titel {
  font-size: 18px;
  padding: 25px 0;
  text-align: right;
}
.infor-wrapper .infor .infor-container {
  padding-top: 30px;
  padding-left: 30px;
  background-color: #d8d8d8;
  border-radius: 15px;
}
.infor-wrapper .infor .infor-container .infor-item {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-size: 0;
  vertical-align: baseline;
}
.infor-wrapper .infor .infor-container .infor-item .infor-img-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 108px;
  height: 108px;
  background: #000000;
}
.infor-wrapper .infor .infor-container .infor-item .infor-desc {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}
.infor-wrapper .infor .infor-container .more {
  text-align: right;
  font-size: 16px;
  padding: 15px 28px 15px 0;
  color: #696969;
}

/* common */
body {
  width: 100%;
  height: 100%;
}
body #app {
  margin: 0 auto;
}

.header {
  width: 100%;
  overflow: hidden;
  height: 50px;
  position: relative;
  color: #fff;
  font-size: 18px;
  background: #222;
}
.header .logo {
  margin-left: 15px;
  line-height: 50px;
  font-size: 22px;
}
.header .head_nav {
  display: none;
  line-height: 50px;
  overflow: hidden;
}
.header .head_nav .list {
  float: right;
  font-size: 0;
  padding-right: 60px;
}
.header .head_nav .list li {
  display: inline-block;
  padding-right: 30px;
}
.header .head_nav .list li:last-child {
  padding-right: 0;
}
.header .head_nav .list li a {
  color: #c6c6c6;
  font-size: 16px;
}
.header .head_nav .list li a:hover {
  color: #7a4747;
}
.header .menu_wrap {
  margin-right: 15px;
  line-height: 50px;
}
.header .menu_wrap .icon-close {
  display: none;
}
.header .pop_nav_list {
  display: none;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 9999;
  text-align: center;
  background: #333;
  font-size: 16px;
}
.header .pop_nav_list .list .item {
  padding: 15px;
  border-bottom: 0.5px rgba(255, 255, 255, 0.5) solid;
}
.header .pop_nav_list .list .item a {
  color: rgba(255, 255, 255, 0.5);
}

/* section */
.section {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.section .banner {
  background: #000000;
  padding-bottom: 50px;
  text-align: center;
  color: greenyellow;
}
.section .banner .swiper-container {
  height: 500px;
  background-color: tomato;
  --swiper-pagination-color: #ccc;
}
.section .server-project {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  background-color: #d8d8dd;
  color: #262626;
}
.section .server-project .projects-title {
  padding: 10px 0;
  background-color: white;
}
.section .server-project .projects-wrapper .second-title {
  padding: 25px 0 25px 25px;
  font-size: 22px;
  text-align: left;
  font-weight: 500;
}
.section .server-project .projects-wrapper .projects {
  font-size: 0;
  padding-bottom: 25px;
}
.section .server-project .projects-wrapper .projects .project-item {
  width: 394px;
  height: 251px;
  display: inline-block;
}
.section .server-project .projects-wrapper .projects .project-item .third-title {
  padding: 40px 0 20px 0;
  font-size: 16px;
  font-weight: 500;
}
.section .server-project .projects-wrapper .projects .project-item .project-img {
  width: 100%;
  height: 250px;
  background-color: #ccc;
}
.section .server-project .projects-wrapper .projects .project-item .project-desc {
  padding: 20px 0 10px 0;
  line-height: 14px;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: justify;
}
.section .infor-wrapper .news .infor-container {
  padding-left: 40px;
}
.section .infor-wrapper .line {
  vertical-align: top;
  height: 50px;
  border: 0.5px solid #c6c6c6;
  margin: 0 58px;
  display: none;
}
.section .infor-wrapper .company .infor-container {
  padding-left: 40px;
}
.section .strategy {
  padding-top: 20px;
  padding-bottom: 190px;
  background-color: #d8d8d8;
  text-align: center;
}
.section .strategy .strategy-title {
  font-size: 22px;
  line-height: 55px;
  height: 55px;
}

/* footer */
.footer {
  padding: 150px 0;
  background-color: #262626;
}

/* footer end*/

/*# sourceMappingURL=index.css.map */
