// 颜色定义规范
$color-background: #222;
$color-background-d: rgba(0,0,0,0.3);
$color-hightLight-background: #333;
$color-dialog-background: #666;
$color-theme: #ffcd32;
$color-theme-d: rgba(255, 205, 49, 0.5);;
$color-sub-theme: #d93f30;
$color-text: #fff;
$color-text-d: rgba(117, 117, 117, 0.3);
$color-text-l: rgba(255, 255, 255, 0.5);
$color-text-ll: rgba(255, 255, 255, 0.8);

//  字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;  
$font-size-large: 18px;
$font-size-large-x: 22px;


/* common */
.show{display: block!important;}
.hide{display: none!important;}
.fl { float: left; *display: inline; _display:inline; }
.fr { float: right; *display: inline; _display:inline; }
.clearfix:after { display: block; clear: both; content: ''; visibility: hidden; height: 0; }
.clearfix { *zoom: 1; }



@media screen and (max-width: 768px) {
  // .w1200 { width: 750px}
  #qpp .project-item:nth-child(2){margin:0 20px!important;}
}
@media screen and (min-width: 992px) {
  // .w1200 { width: 970px}
  .head_nav{display:block!important;}
  .menu_wrap{display: none!important;}
  .project-item:nth-child(2){margin:0 20px!important;}
}
@media screen and (min-width: 1200px) {
  .menu_wrap{display: none!important;}
  .header .head_nav{display:block!important;}
  .project-item:nth-child(2){margin:0 20px!important;}
  // .w1200 { width: 1170px}
}
@media screen and (min-width: 1400px) {
  // .w1200 { width: 1300px}
  .head_nav{display:block!important;}
  .menu_wrap{display: none!important;}
  .project-item:nth-child(2){margin:0 100px!important;}
  .line{display: inline-block!important;}
  .company .infor-second-titel{text-align: left!important;}
  .infor{width: 45%!important;}
}



$header-height:50px;
$swiper-container-height:500px;

.first-title {
  font-size: $font-size-large-x;
  line-height: $header-height;
  height: $header-height;
  text-align: center;
}

.infor-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 50px 0;
  text-align: center;
  font-size: 0;
  background: #ffffff;
  .infor {
    display: inline-block;
    width: 100%; 
    font-size: 16px;
    .infor-second-titel {
      font-size: 18px;
      padding: 25px 0;
      text-align: right;
    }
    .infor-container{
      padding-top: 30px;
      padding-left: 30px;
      background-color: #d8d8d8;
      border-radius: 15px;
      .infor-item {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        font-size: 0;
        vertical-align: baseline;
        .infor-img-wrapper {
          display: inline-block;
          vertical-align: middle;
          width: 108px;
          height: 108px;
          background: #000000;
        }
        .infor-desc {
          width: 50%;
          display: inline-block;
          vertical-align: middle;
          font-size: $font-size-medium;
        }
      }

      .more {
        text-align: right;
        font-size: 16px;
        padding: 15px 28px 15px 0;
        color: #696969;
      }
    }
  }
}
/* common */



body{
  width: 100%;
  height: 100%;
  #app{
    margin: 0 auto;
  }
}

.header{
  width: 100%;
  overflow: hidden;
  height: $header-height; 
  position: relative;
  color: $color-text;
  font-size: $font-size-large;
  background: $color-background;
  .logo{
    margin-left:15px; 
    line-height: $header-height;
    font-size: $font-size-large-x;
  }
  .head_nav{
    display: none;
    line-height: $header-height;
    overflow: hidden;
    .list{
      float: right;
      font-size: 0;
      padding-right: 60px;
      li{
        display: inline-block;
        padding-right: 30px;   
        &:last-child{
          padding-right: 0;
        }  
        a{
          color: #c6c6c6;
          font-size: 16px; 
          &:hover{
            color: rgb(122, 71, 71);
          }         
        }   
      }
    }
  }
  .menu_wrap{
    margin-right: 15px; 
    line-height: $header-height;
    .icon-close{
      display: none;
    }
  }
  .pop_nav_list{
    display: none;
    position: fixed;
    top: $header-height;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9999;
    text-align: center;
    background: $color-hightLight-background;
    font-size:$font-size-medium-x;
    .list{
      .item{
        padding: 15px;
        border-bottom: 0.5px $color-text-l solid; 
        a{
          color: $color-text-l;
        }
      }
    }
  }
} 

/* section */
.section {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  .banner {
    background: #000000;
    padding-bottom: 50px;
    text-align: center;
    color: greenyellow;
    .swiper-container {
      height: $swiper-container-height;
      background-color: tomato;
      --swiper-pagination-color: #ccc;
    }
  }

  .server-project {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    background-color: #d8d8dd;
    color: #262626;

    .projects-title {
      padding: 10px 0;
      background-color: white;
    }

    .projects-wrapper {
      .second-title {
        padding: 25px 0 25px 25px;
        font-size: $font-size-large-x;
        text-align: left;
        font-weight: 500;
      }

      .projects {
        font-size: 0;
        padding-bottom: 25px;
        .project-item {
          // width: 100%;
          width: 394px;
          height: 251px;
          display: inline-block;
          // 大屏幕媒体
          // &:nth-child(2) {
          //   margin-left: 62px;
          //   margin-right: 62px;
          // }

          .third-title {
            padding: 40px 0 20px 0;
            font-size: $font-size-medium-x;
            font-weight: 500; 
          }

          .project-img {
            width: 100%; // width: 394px;
            height: 250px;
            background-color: #ccc;
          }

          .project-desc {
            padding: 20px 0 10px 0;
            line-height: 14px;
            font-size: $font-size-medium;
            letter-spacing: 1px;
            text-align: justify;
          }
        }
      }
    }

  }  

  .infor-wrapper {
    .news {
      .infor-container {
        padding-left: 40px;
      }
    }
    .line {
      vertical-align: top;
      height: 50px;
      border: .5px solid #c6c6c6;
      margin: 0 58px;
      display: none;
    }
    .company {
      .infor-container {
        padding-left: 40px;
      }
    }
  }

  .strategy {
    padding-top: 20px;
    padding-bottom: 190px;
    background-color: #d8d8d8;
    text-align: center;

    .strategy-title {
      font-size: 22px;
      line-height: 55px;
      height: 55px;
    }
  }
}

/* footer */
.footer {
  padding: 150px 0;
  background-color: #262626;
}

/* footer end*/
